<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
   <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<form action="addProfile/insert" enctype="multipart/form-data" method="post">
	Name:<br/>
	<input type="text" name ="name" placeholder="Name"><br/><br>
	College:<br/>
	<input type="text" name = "college" placeholder="College"><br/><br/>
	Course:<br/>
	<input type="text" name = "course" placeholder="Course"><br/><br/>
	Semester:<br/>
	<input type="number" name = "semester" placeholder="semester"><br/><br/>
	Contact No:<br/>
	<input type="number" name = "contact" placeholder="contact no"><br/><br/>
	Email id:<br/>
	<input type="email" name = "email" placeholder="email"><br/><br/>
	Facebook link:<br/>
	<input type="url" name = "fb" placeholder="facebook link"><br/><br/>
	Select your photo:<br/>
	<input type="file" name = "pdffile" ><br/>
	<br/>
	<input type = "submit" name ="submit">


	</form>
</body>
</html>