<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
   <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<form action="/profile" method="post">
	<h1>EDIT</h1><br/>
	Name:<br/>
	<input type="text" name ="name" placeholder="Name"><br/><br>
	College:<br/>
	<input type="text" name = "College" placeholder="College"><br/><br/>
	Course:<br/>
	<input type="text" name = "Course" placeholder="Course"><br/><br/>
	Semester:<br/>
	<input type="number" name = "Semsester" placeholder="semester"><br/><br/>
	Contact No:<br/>
	<input type="number" name = "Contact" placeholder="contact no"><br/><br/>
	Email id:<br/>
	<input type="email" name = "Email id" placeholder="email"><br/><br/>
	Facebook link:<br/>
	<input type="url" name = "Facebook link" placeholder="facebook link"><br/><br/>
	Select your photo:<br/>
	<input type="file" name = "image" ><br/>
	<br/>
	<input type = "submit" name ="update">
	<br/>
	<input type = "" name ="cancel">



	</form>
</body>
</html>